# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

.workspace.code-workspace

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
bootstrap examples/album/index.html
bootstrap examples/album-rtl/index.html
bootstrap examples/assets/brand/bootstrap-logo-white.svg
bootstrap examples/assets/brand/bootstrap-logo.svg
bootstrap examples/assets/dist/css/bootstrap.min.css
bootstrap examples/assets/dist/css/bootstrap.min.css.map
bootstrap examples/assets/dist/css/bootstrap.rtl.min.css
bootstrap examples/assets/dist/css/bootstrap.rtl.min.css.map
bootstrap examples/assets/dist/js/bootstrap.bundle.min.js
bootstrap examples/assets/dist/js/bootstrap.bundle.min.js.map
bootstrap examples/blog/blog.css
bootstrap examples/blog/blog.rtl.css
bootstrap examples/blog/index.html
bootstrap examples/blog-rtl/index.html
bootstrap examples/carousel/carousel.css
bootstrap examples/carousel/carousel.rtl.css
bootstrap examples/carousel/index.html
bootstrap examples/carousel-rtl/index.html
bootstrap examples/cheatsheet/cheatsheet.css
bootstrap examples/cheatsheet/cheatsheet.js
bootstrap examples/cheatsheet/cheatsheet.rtl.css
bootstrap examples/cheatsheet/index.html
bootstrap examples/cheatsheet-rtl/index.html
bootstrap examples/checkout/form-validation.css
bootstrap examples/checkout/form-validation.js
bootstrap examples/checkout/index.html
bootstrap examples/checkout-rtl/index.html
bootstrap examples/cover/cover.css
bootstrap examples/cover/index.html
bootstrap examples/dashboard/dashboard.css
bootstrap examples/dashboard/dashboard.js
bootstrap examples/dashboard/dashboard.rtl.css
bootstrap examples/dashboard/index.html
bootstrap examples/dashboard-rtl/dashboard.js
bootstrap examples/dashboard-rtl/index.html
bootstrap examples/features/features.css
bootstrap examples/features/index.html
bootstrap examples/features/unsplash-photo-1.jpg
bootstrap examples/features/unsplash-photo-2.jpg
bootstrap examples/features/unsplash-photo-3.jpg
bootstrap examples/grid/grid.css
bootstrap examples/grid/index.html
bootstrap examples/headers/headers.css
bootstrap examples/headers/index.html
bootstrap examples/heroes/bootstrap-docs.png
bootstrap examples/heroes/bootstrap-themes.png
bootstrap examples/heroes/heroes.css
bootstrap examples/heroes/index.html
bootstrap examples/jumbotron/index.html
bootstrap examples/masonry/index.html
bootstrap examples/navbar-bottom/index.html
bootstrap examples/navbar-fixed/index.html
bootstrap examples/navbar-fixed/navbar-top-fixed.css
bootstrap examples/navbar-static/index.html
bootstrap examples/navbar-static/navbar-top.css
bootstrap examples/navbars/index.html
bootstrap examples/navbars/navbar.css
bootstrap examples/offcanvas/index.html
bootstrap examples/offcanvas-navbar/index.html
bootstrap examples/offcanvas-navbar/offcanvas.css
bootstrap examples/offcanvas-navbar/offcanvas.js
bootstrap examples/pricing/index.html
bootstrap examples/pricing/pricing.css
bootstrap examples/product/index.html
bootstrap examples/product/product.css
bootstrap examples/sidebars/index.html
bootstrap examples/sidebars/sidebars.css
bootstrap examples/sidebars/sidebars.js
bootstrap examples/sign-in/index.html
bootstrap examples/sign-in/signin.css
bootstrap examples/starter-template/index.html
bootstrap examples/starter-template/starter-template.css
bootstrap examples/sticky-footer/index.html
bootstrap examples/sticky-footer/sticky-footer.css
bootstrap examples/sticky-footer-navbar/index.html
bootstrap examples/sticky-footer-navbar/sticky-footer-navbar.css
workspace.code-workspace
